.cta {
  padding-top: calc(var(--base));

  .button {
    width: 100%;
  }

  .cta__or {
    padding: calc(var(--base) * 1.25) 0 calc(var(--base) / 2);
    text-align: center;
    p {
      margin: 0;
      &:first-child {
        padding-bottom: calc(var(--base) / 1.25);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.help {
  padding-top: calc(var(--base) * 1.25);
}

.note {
  padding-bottom: calc(var(--base) *1.25);
}

.cta, .help, .note {
  color: var(--text-color);
  font-size: 0.875rem;
}