.card {
  background: white;
  border-radius: calc(var(--base) * 0.5);
  box-shadow: 0 0 2px 0 rgba(6, 9, 13, 0.2),
              1px 2px 4px 0 rgba(6, 9, 13, 0.2);
  padding: calc(var(--base) * 3) calc(var(--base) * 4);
  width: 560px;
  > h1 {
    margin-top: 0;
  }
}